/*==============================
=            Colors            =
==============================*/

$brand:     #4a2be7;
$action:    #ea533c;
$bg1:        #ffffff;
$bg2:       #f4f4f4;
$bg3:       #f4f4f4;
$text:      #161616;
$text2:     #ffffff;
$text3:     #ffffff;



/*===================================
=            Breakpoints            =
===================================*/

// Breakpoints Variables
$desktop:     1680px;
$laptop:      1200px;
$tablet:      900px;
$mobile:      600px;



// Breakpoints Mixin

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}


/*===================================
=            Transitions            =
===================================*/
@mixin trans {
	transition: all 0.2s ease;
}

@mixin trans_6 {
  transition: all 0.6s ease;
}

@mixin trans_9 {
  transition: all 0.9s ease;
}



/*===================================
=            Test Border            =
===================================*/
@mixin border{
  border: solid red 1px;
}


/*============================================
=            Resizable typography            =
============================================*/

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}