@font-face {
    // Register your font here
}


.oxygen-body h1,
.oxygen-body h2,
.oxygen-body h3,
.oxygen-body h4,
.oxygen-body h5,
.oxygen-body h6{
    font-family: 'title';
    font-weight: normal;
    font-style: normal;    
    line-height: 1.2;
    margin-bottom: 0.5em;
}


.oxygen-body body{
    font-family: 'body';
    font-weight: normal;
    font-style: normal;
}

h1{
    font-size: 150px;
}

.oxygen-body h2{
    
}





