@font-face {
    // Register your font here
}


html h1,
html h2,
html h3,
html h4,
html h5,
html h6{
    font-family: 'title';
    font-weight: normal;
    font-style: normal;    
    line-height: 1.2;
    margin-bottom: 0.5em;
}


html, html body{
    font-family: 'body';
    font-weight: normal;
    font-style: normal;
}

html h1{
    
}

html h2{
    
}





